# Python
__pycache__/
*.pyc
venv/
.venv/

# Environment
.env
.env.*

# Data (ignore all large datasets, but KEEP small samples)
data/*.csv
!data/sample_saml_d.csv

# IDE / OS
.vscode/
.idea/
.DS_Store

# LangSmith / logs
*.log